<totl24-wrap data-size="md" data-scroll="md">
    <totl24-header>
        <b>header</b>
        <span>background text</span>
    </totl24-header>
    <totl24-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </totl24-content>
    <totl24-tagged>
        <a href="/">first last</a>
    </totl24-tagged>
</totl24-wrap>

<totl24-wrap data-size="md" data-scroll="md">
    <totl24-character>
        <span><img src="https://picsum.photos/300" /></span>
        <p>in a moment, everything can change. feel the wind on your shoulder.</p>
    </totl24-character>
    <totl24-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </totl24-content>
</totl24-wrap>