<totl24-wrap data-type="playlist">
    <totl24-content>
        <totl24-song>
            <b>Favourite Record</b>
            <i>Fall Out Boy</i>
            <p>You were the song stuck in my head, every song that I've ever loved.</p>
        </totl24-song>
        <totl24-song>
            <b>Favourite Record</b>
            <i>Fall Out Boy</i>
            <p>You were the song stuck in my head, every song that I've ever loved.</p>
        </totl24-song>
        <totl24-song>
            <b>Favourite Record</b>
            <i>Fall Out Boy</i>
            <p>You were the song stuck in my head, every song that I've ever loved.</p>
        </totl24-song>
    </totl24-content>
</totl24-wrap>