<totl24-wrap data-type="social">
    <totl24-socialimage><img src="http://picsum.photos/400" /></totl24-socialimage>
    <totl24-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</totl24-content>
    <totl24-tagged>@handle</totl24-tagged>
</totl24-wrap>

<totl24-wrap data-type="social">
    <totl24-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</totl24-content>
    <totl24-tagged>@handle</totl24-tagged>
</totl24-wrap>