@import '../global/mixins.scss';

/*******************************
    Global
********************************/
body {
    background: var(--bg-primary);
    font-family: var(--font-body);
    color: var(--text-primary);
    font-size: var(--size-md);
    line-height: 200%;
}
a {
    &[href=""],
    &[href="<i>No Information</i>"] {
        display: none;
    }

    .postcolor &,
    .webpage--content &,
    .profile .scroll &,
    .member--item .scroll & {
        &[target="_blank"]::after {
            font-size: 0.7em;
            margin-left: 0.4em;
            top: -0.15em;
            color: var(--text-accent);
        }
    }

    .fa-arrow-up-right-from-square {
        font-size: 0.7em;
        margin-left: 0.4em;
        top: -0.15em;
        color: var(--text-accent);
    }
}
.scroll {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-accent) transparent;
}
button {
    cursor: pointer;
}
ul {
    padding: 0 0 0 12px;
    margin: 20px 0;
    line-height: 200%;

    li {
        padding-left: 10px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
        
        &::marker {
            font-family: 'Font Awesome 6 Pro';
            font-weight: 300;
            font-style: normal;
            font-size: 0.7em;
            color: var(--accent);
        }
    }
}

.postcolor,
.webpage--content,
.profile .scroll,
.member--item .scroll {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6,
    h7,
    .h7 {
        z-index: 1;
        max-width: max-content;
        line-height: 100%;
        
        & + br {
            display: none;
        }
        &:first-child,
        & + h1,
        & + .h1,
        & + h2,
        & + .h2,
        & + h3,
        & + .h3,
        & + h4,
        & + .h4,
        & + h5,
        & + .h5,
        & + h6,
        & + .h6,
        & + h7,
        & + .h7 {
            margin-top: 0;
        }
    }
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        font-family: var(--font-head);
        text-transform: lowercase;
    }
    h1,
    .h1,
    h2,
    .h2 {
        color: var(--text-secondary);
        font-weight: 900;
        font-style: italic;
    }
    h1,
    .h1 {
        @include fluid-type(36, 48, 480, 1024);
        letter-spacing: -3px;
        margin: 40px auto 40px 0;
    }
    h2,
    .h2 {
        @include fluid-type(24, 36, 480, 1024);
        letter-spacing: -2px;
        margin: 40px auto 40px 0;
    }
    h3,
    .h3,
    h4,
    .h4 {
        color: var(--text-primary);
        font-weight: 700;
        padding: 0 7.5px;
        font-style: italic;

        &::before {
            content: '';
            position: absolute;
            height: calc(100% - 12px);
            width: 100%;
            background: var(--bg-accent-transparent);
            top: 6px;
            left: 0;
            z-index: -1;
        }
    }
    h3,
    .h3 {
        @include fluid-type(22, 30, 480, 1024);
        letter-spacing: -1.5px;
        margin: 30px auto 30px 0;
    }
    h4,
    .h4 {
        @include fluid-type(18, 26, 480, 1024);
        letter-spacing: -1.5px;
        margin: 30px auto 30px 0;
    }
    h5,
    .h5,
    h6,
    .h6 {
        color: var(--text-secondary);
    }
    h5,
    .h5 {
        @include fluid-type(16, 20, 480, 1024);
        margin: 30px auto 30px 0;
        letter-spacing: -1px;
        font-weight: 900;
    }
    h6,
    .h6 {
        @include fluid-type(14, 16, 480, 1024);
        margin: 30px auto 30px 0;
        font-weight: 800;
        letter-spacing: -0.5px;
    }
    h7,
    .h7,
    h8,
    .h8 {
        display: block;
        text-transform: uppercase;
        line-height: 180%;
        max-width: 280px;
        text-align: justify;
        font-size: var(--size-xs);
        letter-spacing: 0.1em;
        font-weight: 600;
    }
    h7,
    .h7 {
        padding: 15px 20px;
        border: 1px solid var(--border-accent);
        border-radius: 15px;
        color: var(--text-accent);
        margin: 30px auto 30px 0;
    }
    h8,
    .h8 {
        color: var(--text-accent);
        margin: 20px auto 20px 0;
    }
    blockquote {
        padding: 15px 20px;
        border: 1px solid var(--border-primary);
        text-align: justify;
        border-radius: 15px;
        font-size: 0.9em;
        line-height: 200%;
        font-weight: 350;
        color: var(--text-secondary);
        letter-spacing: 0.01em;
        width: 100%;
        max-width: 400px;
        margin: 30px auto;
    }
    p {
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    b {
        font-weight: 700;
        color: var(--text-accent);
        font-family: var(--font-serif);
        font-size: 1.1em;
    }
    i {
        font-weight: 450;
        color: var(--text-accent);
        font-family: var(--font-serif);
        font-size: 1.1em;
    }
    u {
        color: var(--text-accent);
        font-weight: 400;
        border-bottom: 1px dotted var(--text-accent);
        text-decoration: none;
        padding: 0 3px;
    }
    s {
        color: var(--text-quaternary);
        font-weight: 400;
        text-decoration-style: wavy;
        padding: 0 3px;
        text-decoration-color: var(--bg-accent);
        text-decoration-thickness: 1.2px;
    }
    a {
        color: var(--text-accent);
        font-size: 0.9em;
        font-weight: 500;

        &[target="_blank"] {
            &::after {
                padding-left: 5px;
                font-family: 'Font Awesome 6 Pro';
            }
        }
    }
    hr {
        border: none;
        border-top: 1px solid var(--border-primary);
        margin: 15px 0;
    }
}

.accordion {
    &-label {
        font-family: var(--font-head);
        font-style: italic;
        color: var(--text-secondary);
        font-size: 1.8em;
        text-transform: lowercase;
        font-weight: 600;
        letter-spacing: -2px;
        opacity: 0.8;
        max-width: max-content;
        padding: 0 5px;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            height: calc(100% - 12px);
            width: 100%;
            background: var(--bg-accent-transparent);
            top: 6px;
            left: 0;
            z-index: -1;
        }

        &::after {
            content: '+';
            display: inline-block;
            position: relative;
            font-family: var(--font-serif);
            font-weight: 500;
            margin-left: 10px;

        }
        &.is-open {
            &::after {
                content: '-';
                top: -2px;
                font-weight: 500;
            }
        }
        &:not(:first-child) {
            margin-top: 15px;
        }
    }
    &-content {
        display: none;
        height: 0;
        border: 1px solid var(--border-primary);
        padding: 30px;
        border-radius: 15px;
        margin: 15px 20px 0;

        &.is-open {
            display: block;
            height: auto;
        }

        .scroll {
            max-height: 250px;
        }
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background: var(--bg-primary);
    align-items: center;
    justify-content: center;

    &.is-open {
        display: flex;
    }

    &--close {
        position: absolute;
        top: 10px;
        right: 10px;
        text-transform: lowercase;
        background: transparent;
        border: 1px solid var(--border-primary);
        border-radius: 15px;
        color: var(--text-primary);
        font-size: 20px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;

        &:hover {
            background: var(--bg-accent-transparent);
            border-color: var(--border-secondary);
            color: var(--text-secondary);
        }
    }

    #quick-login {
        strong {
            display: none;
        }
        form {
            div {
                display: flex;
                flex-direction: column;
                max-width: 300px;
                width: 90vw;
                gap: 5px;
                text-align: left;

                input {
                    border: 1px solid var(--border-primary);
                    background: none;
                    border-radius: 10px;
                    padding: 10px;
                    line-height: 100%;
                    color: var(--text-secondary);
                    font-size: var(--size-md);

                    &::placeholder {
                        color: var(--text-quinary);
                    }

                    &[type="submit"] {
                        font-size: 20px;
                        text-transform: lowercase;
                        font-weight: 700;
                        font-family: var(--font-head);
                        max-width: max-content;
                        margin: 0 auto;
                        padding: 10px 20px;
                        background: var(--bg-accent-transparent);
                        color: var(--text-primary);
                        border-color: var(--border-secondary);
                    }
                }
            }
        }
    }
}
#account-switch {
    width: calc(100% - 30px);
    height: calc(100vh - 90px);
    position: absolute;
    top: 70px;
    left: 20px;
    display: grid;
}
#subaccounts_menu {
    overflow: auto;
    max-height: 100%;
    display: block;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-accent) transparent;
    padding-right: 10px;
}
.switch {
    display: grid;
    gap: 5px;

    @include mq-up(xs) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mq-up(sm) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include mq-up(md) {
        grid-template-columns: repeat(4, 1fr);
    }

    &-block {
        border: 1px solid var(--border-primary);
        padding: 10px;
        border-radius: 15px;
        display: grid;
        grid-template-columns: 50px auto;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        input {
            display: none;
        }

        &:hover {
            border-color: var(--border-secondary);
            background: var(--bg-accent-transparent);

            & > b {
                color: var(--text-secondary);
            }
        }

        & > div {
            width: 50px;
            height: 100%;
            min-height: 50px;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
        }

        & > b {
            font-family: var(--font-head);
            text-transform: lowercase;
            font-size: 20px;
            letter-spacing: -1px;
            color: var(--text-primary);
        }
    }
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    width: 100%;
    height: 100vh;
    background: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .loading-bubble {
        padding: 50px 75px;
        background: var(--bg-secondary);
        border-radius: 30px;
        font-family: var(--font-head);
        text-transform: lowercase;
        font-weight: 900;
        font-size: 40px;
        line-height: 100%;
        display: grid;
        gap: 30px;

        p {
            margin: 0;
        }
    }
}

.accordion {
    &--trigger,
    &--link {
        font-family: var(--font-head);
        font-style: italic;
        text-transform: lowercase;
        font-size: 28px;
        letter-spacing: -2px;
        font-weight: 900;
        line-height: 160%;
        margin: 20px 0 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        color: var(--text-secondary);
    }
    &--trigger {
        &::after {
            font-family: 'Font Awesome 6 Pro';
            font-size: 0.7em;
        }
    }

    &--content {
        margin: 10px 0;
        display: none;

        &.is-active {
            display: block;
        }
    }
}
tag-tab {
    display: none;

    &.is-active {
        display: block;
    }
}

.tippy-box[data-theme~='totl24'] {
    background-color: var(--bg-tertiary);
    color: var(--text-primary);
    font-size: var(--size-md);
    text-align: justify;
    line-height: 160%;
    padding: 5px 10px;
    border: 1px solid var(--bg-accent-50);
}
  
.tippy-box[data-theme~='totl24'] .tippy-content {
    padding: 0;
    margin: 0;
}
  
#recent-alerts {
    position: absolute;
    width: 400px;
    z-index: 999;
    text-align: left;
}
  
.alert {
    &--box {
        display: flex;
    }

    &--inner {
        width: calc(100% - 40px);
        height: calc(100vh - 40px);
        position: absolute;
        top: 20px;
        left: 20px;
        display: grid;
        grid-template-columns: 64px 1fr;
        grid-template-rows: calc(100dvh - 40px);
        gap: 30px;
    }

    &--menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 10px;
        padding: 15px 0;
        background: var(--bg-accent);
        height: 100%;
        font-size: var(--size-xl);

        a {
            color: var(--text-primary);
            border: 1px solid var(--border-primary);
            width: 34px;
            height: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 5px;
            background: var(--bg-secondary);

            &:hover {
                background: var(--bg-secondary);
                color: var(--text-secondary);
            }
        }
    }

    &--content {
        height: 100%;
    }

    &--main {
        max-height: 100%;
        display: grid;
        gap: 10px;

        @include mq-up(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mq-up(md) {
            grid-template-columns: repeat(3, 1fr);
        }

        & > div:not(.row2) {
            display: none;
        }

        .row2 {
            .recent-alerts-msg {
                font-size: 0;
                line-height: 0;
                display: grid;
                border: 1px solid var(--border-primary);
                padding: 15px;
                border-radius: 15px;
                background: var(--bg-secondary);

                div[align="center"]:first-child {
                    font-size: var(--size-md);
                    grid-column: 1 / -1;
                    grid-row: 1 / -1; 
                }

                img {
                    display: none;
                }

                &.reg-alert::after {
                    content: 'New registration';
                    order: 1;
                    font-size: var(--size-xs);
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    font-weight: 600;
                    line-height: 160%;
                    color: var(--text-primary);
                }

                a {
                    &:first-of-type:not(:last-of-type) {
                        order: 1;
                        font-size: var(--size-xs);
                        text-transform: uppercase;
                        letter-spacing: 0.1em;
                        font-weight: 600;
                        line-height: 160%;
                        color: var(--text-primary);
                    }

                    &:nth-of-type(2):not(:last-of-type) {
                        display: none;
                    }

                    &:last-of-type {
                        font-family: var(--font-head);
                        text-transform: lowercase;
                        font-style: italic;
                        font-weight: 700;
                        font-size: var(--size-xl);
                        color: var(--text-secondary);
                        letter-spacing: 0;
                        line-height: 160%;
                        max-width: max-content;
                        z-index: 1;
                        order: 0;
                        transition-duration: 0.5s;
            
                        &::before {
                            content: '';
                            position: absolute;
                            height: calc(100% - 16px);
                            width: 0;
                            background: var(--bg-accent-transparent);
                            top: 8px;
                            left: 0;
                            z-index: -1;
                            transition-duration: 0.5s;
                        }
            
                        &:hover {
                            padding: 0 5px;
            
                            &::before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.alert-select {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    background: var(--bg-tertiary);
    border: 1px solid var(--border-primary);
    padding: 15px;
    border-radius: 15px;
    flex-direction: column;
    gap: 15px;

    .scroll {
        text-align: left;
        height: 150px;
    }

    &.is-open {
        display: flex;
    }
}

tag-code,
.codeblock {
    display: block;
    border: 1px solid var(--border-primary);
    border-radius: 15px;
    padding: 10px 10px 5px;

    button,
    .codeclick {
        border: none;
        border-bottom: 1px solid var(--border-primary);
        background: none;
        width: 100%;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 10px 10px;
        font-size: var(--size-xs);
        letter-spacing: 0.1em;
    }

    pre {
        margin: 10px 0 0;
    }

    textarea,
    code {
        display: block;
        border: none;
        background: none;
        width: 100%;
        height: 80px;
        margin: 0;
        padding: 0 10px;
        font-size: var(--size-sm);
        font-family: var(--font-body);
        letter-spacing: 0.05em;
        white-space: pre-wrap;
        overflow-x: hidden;
    }
}

input,
select,
textarea {
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    transition-duration: 0.3s;
    background: var(--bg-primary);
    font-size: var(--size-sm);
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 5px;
    margin: 0 5px;

    option {
        font-size: var(--size-md);
    }
}

input,
select {
    height: 35px;
}

textarea {
    height: 150px;
    width: 100%;
    font-size: var(--size-md);
    line-height: 200%;
    font-weight: normal;
    padding: 15px;
    border-radius: 15px;
    text-align: left;
    text-transform: none;
}

.quick-edit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px 15px;

    .editor {
        flex: 0 0 100%;
    }

    .buttons {
        a {
            border: 1px solid var(--border-secondary);
            border-radius: 5px;
            height: 30px;
            display: inline-flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            color: var(--text-secondary);
            transition-duration: 0.3s;
            background: var(--bg-accent-transparent);
            font-size: var(--size-sm);
            padding: 0 10px;
            cursor: pointer;
            font-family: var(--font-body);
            font-style: normal;
            line-height: 100%;
            text-transform: uppercase;
            font-weight: 600;

            &:hover {
                background: var(--bg-primary);
                border-color: var(--border-primary);
                color: var(--text-primary);
            }
        }
    }
}

button,
input[type="button"],
input[type="submit"] {
    border: 1px solid var(--border-secondary);
    border-radius: 5px;
    height: 30px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--text-secondary);
    transition-duration: 0.3s;
    background: var(--bg-accent-transparent);
    font-size: var(--size-sm);
    padding: 0 10px;
    cursor: pointer;
    font-family: var(--font-body);
    font-style: normal;
    line-height: 100%;

    &:hover {
        background: var(--bg-primary);
        border-color: var(--border-primary);
        color: var(--text-primary);
    }
}

fieldset {
    max-width: 500px;
    margin: 0 auto !important;
    border: 1px solid var(--border-primary);
    font-size: var(--size-xs);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 20px 20px;
    border-radius: 15px;

    legend {
        font-family: var(--font-head);
        text-transform: lowercase;
        font-weight: 900;
        font-size: 16px;
        letter-spacing: -0.5px;
        font-style: italic;
        padding: 0 15px;
    }
}

.macro {
    &--button {
        border: 1px solid var(--border-primary);
        border-radius: 5px;
        height: 30px;
        display: inline-flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: var(--text-primary);
        transition-duration: 0.3s;
        background: var(--bg-primary);
        font-size: var(--size-md);
        padding: 0 10px;

        &:hover {
            background: var(--bg-accent-transparent);
            border-color: var(--border-secondary);
            color: var(--text-secondary);
        }
    }
    &--message {
        grid-column: 1 / -1;
        margin: 0 auto;
        max-width: 360px;
        text-align: justify;
        background: var(--bg-secondary);
        border: 1px solid var(--border-primary);
        padding: 30px;
        border-radius: 15px;
        line-height: 200%;
    }
    &--header {
        font-family: var(--font-head);
        text-transform: lowercase;
        font-weight: 900;
        @include fluid-type(18, 28, 480, 768);
        line-height: 100%;
        font-style: italic;
        text-align: center;
        z-index: 1;
        height: max-content;
        width: max-content;
        margin: 40px auto 0;
        padding: 0 5px;

        &::before {
            content: '';
            position: absolute;
            height: calc(100% - 12px);
            width: 100%;
            background: var(--bg-accent-transparent);
            top: 6px;
            left: 0;
            z-index: -1;
            transition-duration: 0.3s;
        }
    }
}

.pagination {
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 0;
    gap: 2px;

    .pagination_pagetxt a,
    .pagination_last,
    .pagination_page,
    .pagination_current {
        border: 1px solid var(--border-primary);
        border-radius: 5px;
        height: 30px;
        display: inline-flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: var(--text-primary);
        transition-duration: 0.3s;
        background: var(--bg-primary);
        font-size: 12px;
        padding: 0 10px;

        &:hover {
            background: var(--bg-accent-transparent);
            border-color: var(--border-secondary);
            color: var(--text-secondary);
        }
    }
    
    .pagination_page {
        width: 30px;
    }
    .pagination_current {
        background: var(--bg-accent-transparent);
        border-color: var(--border-secondary);
        color: var(--text-secondary);
    }
}

body:not(.g-4) .staffOnly,
body:not(.g-2) .guestOnly,
body.g-2 .memOnly {
    display: none !important;
}
.onlyMobile {
    @include mq-up(sm) {
        display: none !important;
    }
}
.notMobile {
    @include mq-down(sm) {
        display: none !important;
    }
}

.copyright,
#mark-as-read-subto,
#delcookiesrow {
    text-align: center;
    font-size: var(--size-xs);
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 600;
    line-height: 160%;
    margin: 0 auto 20px;

    a {
        color: var(--text-secondary);
    }
}

.fa-brand {
    font-family: 'Font Awesome 6 Brands' !important;
    font-style: normal !important;
    font-weight: 700 !important;
}
.fa-solid,
.fa-regular,
.fa-light,
.fa-thin {
    font-family: 'Font Awesome 6 Pro' !important;
    font-style: normal !important;
}
.fa-solid {
    font-weight: 700 !important;
}
.fa-regular {
    font-weight: 500 !important;
}
.fa-light {
    font-weight: 300 !important;
}
.fa-thin {
    font-weight: 100 !important;
}

.newstext,
.wrapmini,
#submenu,
#userlinks,
.pagination + .goto-firstunread {
    display: none;
}