/*******************************
    Variables
********************************/
:root {
    --font-body: 'Noto Sans', sans-serif;
    --font-serif: 'Noto Serif', serif;
    --font-head: 'Noto Serif Display', serif;

    --size-xs: 9px;
    --size-sm: 11px;
    --size-md: 13px;
    --size-lg: 15px;
    --size-xl: 17px;
    
    --rgb: 87, 188, 210;
    --rgb-lt: 87, 188, 210;

    --black: rgba(12, 12, 12, 1);
    --offBlack: rgba(18, 18, 18, 1);
    --dkGrey: rgba(26, 26, 26, 1);
    --dmGrey: rgba(34, 34, 34, 1);
    --mdGrey: rgba(40, 40, 40, 1);
    --mlGrey: rgba(68, 68, 68, 1);
    --lmGrey: rgba(150, 150, 150, 1);
    --ltGrey: rgba(166, 166, 166, 1);
    --xltGrey: rgba(200, 200, 200, 1);
    --offWhite: rgba(225, 225, 225, 1);
    --white: rgba(235, 235, 235, 1);
    --ltWhite: rgba(245, 245, 245, 1);
}

body {
    --bg-primary: var(--offWhite);
    --bg-secondary: var(--white);
    --bg-tertiary: var(--xltGrey);
    --bg-accent: var(--accent);

    --text-primary: var(--mlGrey);
    --text-secondary: var(--dkGrey);
    --text-tertiary: var(--xltGrey);
    --text-quaternary: var(--ltGrey);
    --text-accent: var(--accent);

    --border-primary: var(--xltGrey);
    --border-secondary: var(--ltGrey);
    --border-accent: rgba(var(--rgb-lt), 0.4);

    &.lgFont {
        --size-xs: 11px;
        --size-sm: 13px;
        --size-md: 15px;
        --size-lg: 17px;
        --size-xl: 19px;
    }
    &.xlFont {
        --size-xs: 12px;
        --size-sm: 14px;
        --size-md: 16px;
        --size-lg: 18px;
        --size-xl: 20px;
    }
    &.dark {
        --border-accent: var(--ltaccent);
        --bg-accent: var(--ltaccent);
        --text-accent: var(--accent);
        
        --bg-primary: var(--black);
        --bg-secondary: var(--offBlack);
        --bg-tertiary: var(--dkGrey);
        --text-primary: var(--offWhite);
        --text-secondary: var(--xltGrey);
        --border-primary: var(--mdGrey);
    }

    //Set up
    &[class*="g-"],
    [class*="g-"] {
        --accent: rgb(var(--rgb));
        --ltaccent: rgb(var(--rgb-lt));

        --border-accent: rgba(var(--rgb-lt), 0.4);
        --bg-accent: var(--ltaccent);
        --text-accent: var(--accent);
    }

    //Validating, Guest
    &.g-1,
    .g-1,
    &.g-2,
    .g-2 {
        --rgb: 196, 177, 125;
        --rgb-lt: 225, 210, 166;
    }
    //Unsorted
    &.g-3,
    .g-3 {
        --rgb: 189, 133, 92;
        --rgb-lt: 215, 159, 118;
    }
    //Admin
    &.g-4,
    .g-4 {
        --rgb: 110, 130, 155;
        --rgb-lt: 142, 161, 185;
    }
    //Members
    &.g-20,
    .g-20 {
        --rgb: 82, 154, 162;
        --rgb-lt: 108, 181, 189;
    }
    //Banned, Inactive
    &.g-5,
    .g-5,
    &.g-10,
    .g-10 {
        --rgb: 196, 196, 196;
        --rgb-lt: 155, 155, 155;
    }
    //Adults
    &.g-6,
    .g-6,
    adults,
    .adults {
        --rgb: 179, 73, 85;
        --rgb-lt: 200, 107, 118;
    }
    //Misc Students
    &.g-23,
    .g-23,
    students,
    .miscellaneous.students {
        --rgb: 179, 73, 85;
        --rgb-lt: 200, 107, 118;
    }
    //Gryffindor
    &.g-7,
    .g-7,
    gryffindor,
    .gryffindor {
        --rgb: 147, 42, 47;
        --rgb-lt: 176, 58, 63;
    }
    //Hogwarts Staff
    &.g-8,
    .g-8,
    hogwarts,
    .hogwarts {
        --rgb: 97, 86, 153;
        --rgb-lt: 123, 113, 170;
    }
    //Hufflepuff
    &.g-9,
    .g-9,
    hufflepuff,
    .hufflepuff {
        --rgb: 183, 148, 117;
        --rgb-lt: 213, 177, 146;
    }
    //Press
    &.g-11,
    .g-11,
    press,
    .press {
        --rgb: 176, 134, 84;
        --rgb-lt: 200, 160, 112;
    }
    //Ministry
    &.g-12,
    .g-12,
    ministry,
    .ministry {
        --rgb: 176, 134, 84;
        --rgb-lt: 200, 160, 112;
    }
    //Quidditch
    &.g-13,
    .g-13,
    quidditch,
    .quidditch {
        --rgb: 146, 130, 157;
        --rgb-lt: 166, 148, 179;
    }
    //Ravenclaw
    &.g-14,
    .g-14,
    ravenclaw,
    .ravenclaw {
        --rgb: 65, 91, 142;
        --rgb-lt: 86, 113, 166;
    }
    //Healers
    &.g-15,
    .g-15,
    healers,
    .healers {
        --rgb: 88, 123, 83;
        --rgb-lt: 102, 142, 96;
    }
    //Slytherin
    &.g-16,
    .g-16,
    slytherin,
    .slytherin {
        --rgb: 45, 91, 61;
        --rgb-lt: 60, 113, 78;
    }
    //Returners
    &.g-17,
    .g-17,
    returners,
    .returners {
        --rgb: 90, 137, 151;
        --rgb-lt: 105, 154, 168;
    }
    //Entertainment
    &.g-18,
    .g-18,
    entertainment,
    .entertainment {
        --rgb: 82, 154, 162;
        --rgb-lt: 108, 181, 189;
    }
}