<tag-label class="tab-category accordion--trigger" data-category="a">
    <span>A</span>
</tag-label>
<div class="tab-category accordion--content" data-category="a">
    <a href="#abbott">abbott</a>
    <a href="#abercrombie">abercrombie</a>
    <a href="#ackerley">ackerley</a>
    <a href="#avery">avery</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="b">
    <span>B</span>
</tag-label>
<div class="tab-category accordion--content" data-category="b">
    <a href="#babbling">babbling</a>
    <a href="#baddock">baddock</a>
    <a href="#barbary">barbary</a>
    <a href="#belby">belby</a>
    <a href="#bell">bell</a>
    <a href="#berrow">berrow</a>
    <a href="#black">black</a>
    <a href="#bletchley">bletchley</a>
    <a href="#bobbin">bobbin</a>
    <a href="#bole">bole</a>
    <a href="#bones">bones</a>
    <a href="#boot">boot</a>
    <a href="#branstone">branstone</a>
    <a href="#braithwaite">braithwaite</a>
    <a href="#brocklehurst">brocklehurst</a>
    <a href="#brown">brown</a>
    <a href="#bulstrode">bulstrode</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="c">
    <span>C</span>
</tag-label>
<div class="tab-category accordion--content" data-category="c">
    <a href="#cadwallader">cadwallader</a>
    <a href="#carmichael">carmichael</a>
    <a href="#carrow">carrow</a>
    <a href="#cauldwell">cauldwell</a>
    <a href="#chang">chang</a>
    <a href="#clearwater">clearwater</a>
    <a href="#coote">coote</a>
    <a href="#corner">corner</a>
    <a href="#cornfoot">cornfoot</a>
    <a href="#crabbe">crabbe</a>
    <a href="#creevey">creevey</a>
    <a href="#cresswell">cresswell</a>
    <a href="#crumb">crumb</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="d">
    <span>D</span>
</tag-label>
<div class="tab-category accordion--content" data-category="d">
    <a href="#davis">davis</a>
    <a href="#davies">davies</a>
    <a href="#delacour">delacour</a>
    <a href="#derrick">derrick</a>
    <a href="#diggle">diggle</a>
    <a href="#diggory">diggory</a>
    <a href="#dingle">dingle</a>
    <a href="#dobbs">dobbs</a>
    <a href="#doge">doge</a>
    <a href="#dolohov">dolohov</a>
    <a href="#dukemccormack">duke-McCormack</a>
    <a href="#dumbledore">dumbledore</a>
    <a href="#dunbar">dunbar</a>
    <a href="#death">d'Eath</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="e">
    <span>E</span>
</tag-label>
<div class="tab-category accordion--content" data-category="e">
    <a href="#edgecombe">edgecombe</a>
    <a href="#entwhistle">entwhistle</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="f">
    <span>F</span>
</tag-label>
<div class="tab-category accordion--content" data-category="f">
    <a href="#fancourt">fancourt</a>
    <a href="#fawcett">fawcett</a>
    <a href="#fawley">fawley</a>
    <a href="#fenwick">fenwick</a>
    <a href="#filch">filch</a>
    <a href="#finchfletchley">finch-Fletchley</a>
    <a href="#finnigan">finnigan</a>
    <a href="#fletcher">fletcher</a>
    <a href="#flint">flint</a>
    <a href="#flitwick">flitwick</a>
    <a href="#flume">flume</a>
    <a href="#fortescue">fortescue</a>
    <a href="#frobisher">frobisher</a>
    <a href="#fudge">fudge</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="g">
    <span>G</span>
</tag-label>
<div class="tab-category accordion--content" data-category="g">
    <a href="#goldstein">goldstein</a>
    <a href="#goyle">goyle</a>
    <a href="#granger">granger</a>
    <a href="#graves">graves</a>
    <a href="#greengrass">greengrass</a>
    <a href="#greyback">greyback</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="h">
    <span>H</span>
</tag-label>
<div class="tab-category accordion--content" data-category="h">
    <a href="#hagrid">hagrid</a>
    <a href="#harper">harper</a>
    <a href="#higgs">higgs</a>
    <a href="#hooch">hooch</a>
    <a href="#hooper">hooper</a>
    <a href="#hopkins">hopkins</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="i">
    <span>I</span>
</tag-label>
<div class="tab-category accordion--content" data-category="i">
    <p>None</p>
</div>
<tag-label class="tab-category accordion--trigger" data-category="j">
    <span>J</span>
</tag-label>
<div class="tab-category accordion--content" data-category="j">
    <a href="#johnson">johnson</a>
    <a href="#jones">jones</a>
    <a href="#jordan">jordan</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="k">
    <span>K</span>
</tag-label>
<div class="tab-category accordion--content" data-category="k">
    <a href="#kirke">kirke</a>
    <a href="#krum">krum</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="l">
    <span>L</span>
</tag-label>
<div class="tab-category accordion--content" data-category="l">
    <a href="#lestrange">lestrange</a>
    <a href="#li">li</a>
    <a href="#longbottom">longbottom</a>
    <a href="#lovegood">lovegood</a>
    <a href="#lupin">lupin</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="m">
    <span>M</span>
</tag-label>
<div class="tab-category accordion--content" data-category="m">
    <a href="#macdonald">macDonald</a>
    <a href="#macmillan">macMillan</a>
    <a href="#macnair">macNair</a>
    <a href="#madley">madley</a>
    <a href="#malfoy">malfoy</a>
    <a href="#marchbanks">marchbanks</a>
    <a href="#mcdonald">mcDonald</a>
    <a href="#mcdougal">mcDougal</a>
    <a href="#mcgonagall">mcGonagall</a>
    <a href="#mclaggen">mcLaggen</a>
    <a href="#merrythought">merrythought</a>
    <a href="#midgeon">midgeon</a>
    <a href="#montague">montague</a>
    <a href="#montgomery">montgomery</a>
    <a href="#moon">moon</a>
    <a href="#mulciber">mulciber</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="n">
    <span>N</span>
</tag-label>
<div class="tab-category accordion--content" data-category="n">
    <a href="#nott">nott</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="o">
    <span>O</span>
</tag-label>
<div class="tab-category accordion--content" data-category="o">
    <a href="#ogden">ogden</a>
    <a href="#ollivander">ollivander</a>
    <a href="#orpington">orpington</a>
    <a href="#orpingtonbelby">orpington-belby</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="p">
    <span>P</span>
</tag-label>
<div class="tab-category accordion--content" data-category="p">
    <a href="#parkinson">parkinson</a>
    <a href="#patil">patil</a>
    <a href="#peakes">peakes</a>
    <a href="#podmore">podmore</a>
    <a href="#pomfrey">pomfrey</a>
    <a href="#potter">potter</a>
    <a href="#pritchard">pritchard</a>
    <a href="#proudfoot">proudfoot</a>
    <a href="#pucey">pucey</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="q">
    <span>Q</span>
</tag-label>
<div class="tab-category accordion--content" data-category="q">
    <a href="#quirke">quirke</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="r">
    <span>R</span>
</tag-label>
<div class="tab-category accordion--content" data-category="r">
    <a href="#robins">robins</a>
    <a href="#rookwood">rookwood</a>
    <a href="#rosier">rosier</a>
    <a href="#rosmerta">rosmerta</a>
    <a href="#rowle">rowle</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="s">
    <span>S</span>
</tag-label>
<div class="tab-category accordion--content" data-category="s">
    <a href="#scamander">scamander</a>
    <a href="#scrimgeour">scrimgeour</a>
    <a href="#selwyn">selwyn</a>
    <a href="#shacklebolt">shacklebolt</a>
    <a href="#shunpike">shunpike</a>
    <a href="#sinistra">sinistra</a>
    <a href="#skeeter">skeeter</a>
    <a href="#sloper">sloper</a>
    <a href="#slughorn">slughorn</a>
    <a href="#smith">smith</a>
    <a href="#spinnet">spinnet</a>
    <a href="#sprout">sprout</a>
    <a href="#stebbins">stebbins</a>
    <a href="#stimpson">stimpson</a>
    <a href="#summerby">summerby</a>
    <a href="#summers">summers</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="t">
    <span>T</span>
</tag-label>
<div class="tab-category accordion--content" data-category="t">
    <a href="#thomas">thomas</a>
    <a href="#thruston">thruston</a>
    <a href="#tonks">tonks</a>
    <a href="#towler">towler</a>
    <a href="#travers">travers</a>
    <a href="#tremlett">tremlett</a>
    <a href="#trelawney">trelawney</a>
    <a href="#turpin">turpin</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="u">
    <span>U</span>
</tag-label>
<div class="tab-category accordion--content" data-category="u">
    <a href="#umbridge">umbridge</a>
    <a href="#urquart">urquart</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="v">
    <span>V</span>
</tag-label>
<div class="tab-category accordion--content" data-category="v">
    <a href="#vaisey">vaisey</a>
    <a href="#vance">vance</a>
    <a href="#vane">vane</a>
    <a href="#vector">vector</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="w">
    <span>W</span>
</tag-label>
<div class="tab-category accordion--content" data-category="w">
    <a href="#wagtail">wagtail</a>
    <a href="#warrington">warrington</a>
    <a href="#weasley">weasley</a>
    <a href="#whitby">whitby</a>
    <a href="#wilkes">wilkes</a>
    <a href="#wood">wood</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="x">
    <span>X</span>
</tag-label>
<div class="tab-category accordion--content" data-category="x">
    <p>None</p>
</div>
<tag-label class="tab-category accordion--trigger" data-category="y">
    <span>Y</span>
</tag-label>
<div class="tab-category accordion--content" data-category="y">
    <a href="#yaxley">yaxley</a>
</div>
<tag-label class="tab-category accordion--trigger" data-category="z">
    <span>Z</span>
</tag-label>
<div class="tab-category accordion--content" data-category="z">
    <a href="#zabini">zabini</a>
    <a href="#zeller">zeller</a>
</div>