<header class="header">
    <a href="@@prefix/public/index.html">
        <h1>Turn on the Light</h1>
        <span>Turn on the Light</span>
        <p>A Semi-Private Post-Potter Site Set in 2008</p>
    </a>
    <div class="header--calendar"><b class="calendar-month">March 2008</b>

        <!-- days -->
        <span class="calendar-day cal-day">S</span>
        <span class="calendar-day cal-day">M</span>
        <span class="calendar-day cal-day">T</span>
        <span class="calendar-day cal-day">W</span>
        <span class="calendar-day cal-day">T</span>
        <span class="calendar-day cal-day">F</span>
        <span class="calendar-day cal-day">S</span>
          
        <!-- starting empty days -->
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        
        
        <!-- actual days -->
        <span class="event">1</span>
        <span class="event">2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span class="event">7</span>
        <span class="event">8</span>
        <span class="event">9</span>
        <span>10</span>
        <span>11</span>
        <span>12</span>
        <span>13</span>
        <span class="event">14</span>
        <span class="event">15</span>
        <span class="event">16</span>
        <span>17</span>
        <span>18</span>
        <span>19</span>
        <span>20</span>
        <span class="event">21</span>
        <span class="event">22</span>
        <span class="event">23</span>
        <span class="event">24</span>
        <span>25</span>
        <span>26</span>
        <span>27</span>
        <span class="event">28</span>
        <span class="event">29</span>
        <span class="event">30</span>
        <span class="event">31</span>
    </div>
</header>