@import '../global/mixins.scss';

/*******************************
    Navigation
********************************/
.nav {
    &--main { 
        position: sticky;
        top: 0;
        width: 100%;
        height: 50px;
        background: var(--bg-primary);
        border-bottom: 1px solid var(--border-primary);
        display: flex;
        padding: 10px;
        gap: 10px;
        justify-content: space-between;
        z-index: 10;
    }
    &--left {
        display: flex;
        gap: 5px;

        a,
        button {
            background: transparent;
            font-size: 12px;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            border: 1px solid var(--border-primary);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: var(--text-primary);
            transition-duration: 0.3s;

            &:hover,
            &.is-open {
                border-color: var(--border-secondary);
                background: rgba(var(--rgb), 0.4);
                color: var(--text-secondary);
            }
            
            &[data-new] {
                background: var(--bg-accent-transparent);
                border-color: var(--border-secondary);
                color: var(--text-secondary);
            }
            
            &[data-new="0"] {
                background: transparent;
                border-color: var(--border-primary);
                color: var(--text-primary);
            }
        }

        .button--menu {
            &.is-open .fa-bars,
            &:not(.is-open) .fa-xmark {
                display: none;
            }
        }
    }
    &--right {
        display: flex;
        gap: 5px;

        a,
        button {
            background: var(--transparent);
            font-size: 12px;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            border: 1px solid var(--border-primary);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: var(--text-primary);
            transition-duration: 0.3s;

            &:hover,
            &.is-open {
                border-color: var(--border-secondary);
                background: rgba(var(--rgb), 0.4);
                color: var(--text-secondary);
            }
        }

        .button--menu {
            &.is-open .fa-cog,
            &:not(.is-open) .fa-xmark {
                display: none;
            }
        }
    }
    &--breadcrumb { 
        position: sticky;
        top: 50px;
        width: 100%;
        height: 30px;
        background: var(--bg-secondary);
        border-bottom: 1px solid var(--border-primary);
        z-index: 10;
        font-size: var(--size-xs);
        text-transform: uppercase;
        padding: 0 10px;
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;
        font-weight: 600;

        a {
            color: var(--text-primary);
        }

        i {
            color: var(--text-secondary);
        }
    }
    &--popout {
        position: fixed;
        top: 80px;
        left: -325px;
        width: 325px;
        max-width: 100vw;
        height: calc(100vh - 80px);
        z-index: 10;
        transition-duration: 0.5s;
        border-right: 1px solid var(--border-primary);
        background: var(--bg-tertiary);
        padding: 15px;

        &.is-open {
            left: 0;
        }

        .scroll {
            max-height: calc(100vh - 110px);
        }

        a {
            margin-bottom: 5px;

            &.character-block {
                border: 1px solid var(--border-primary);
                padding: 10px;
                border-radius: 15px;
                display: grid;
                grid-template-columns: 50px auto;
                align-items: center;
                gap: 10px;
    
                input {
                    display: none;
                }
    
                &:hover {
                    border-color: var(--border-secondary);
                    background: var(--bg-accent-transparent);
    
                    & > b {
                        color: var(--text-secondary);
                    }
                }
    
                & > img {
                    width: 50px;
                    height: 100%;
                    min-height: 50px;
                    background-size: cover;
                    background-position: center;
                    border-radius: 10px;
                }
    
                & > b {
                    font-family: var(--font-head);
                    text-transform: lowercase;
                    font-size: 20px;
                    letter-spacing: -1px;
                    color: var(--text-primary);

                    &:only-child {
                        grid-column: 1 / -1;
                        text-align: center;
                    }
                }
            }
            &:not(.character-block) {
                border: 1px solid var(--border-primary);
                padding: 10px;
                border-radius: 15px;
                display: block;
                font-family: var(--font-head);
                text-transform: lowercase;
                font-size: 20px;
                letter-spacing: -1px;
                color: var(--text-primary);
                font-weight: 700;
                text-align: center;
    
                &:hover {
                    border-color: var(--border-secondary);
                    background: var(--bg-accent-transparent);
                    color: var(--text-secondary);
                }
            }
        }
    }
    &--options {
        position: fixed;
        top: 80px;
        right: -250px;
        width: 135px;
        height: auto;
        z-index: 10;
        transition-duration: 0.5s;
        background: var(--bg-tertiary);
        padding: 15px;
        border-left: 1px solid var(--border-primary);
        border-bottom: 1px solid var(--border-primary);
        border-radius: 0 0 0 15px;
        display: flex;
        gap: 5px;

        &.is-open {
            right: 0;
        }
    }
}
.toggle {
    &--theme,
    &--size {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7px;
        align-items: center;
        text-align: center;
        border: 1px solid var(--border-primary);
        background: none;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        font-size: 14px;
        color: var(--text-primary);

        & > div {
            width: 30px;
            height: 5px;
            background: var(--bg-tertiary);
            border-radius: 2.5px;
            margin: 0 auto;
            border: 1px solid var(--border-primary);

            &::before {
                content: '';
                width: 7px;
                height: 7px;
                border-radius: 3.5px;
                background: var(--text-primary);
                display: block;
                position: absolute;
                z-index: 1;
                top: -2px;
                left: 0;
            }

            & > span {
                width: 0;
                height: 100%;
                display: block;
                background: var(--bg-accent);
                border-radius: 1.5px;
            }
        }
    }

    .dark &--theme,
    .xlFont &--size {
        & > div {
            &::before {
                left: calc(100% - 7px);
            }
            & > span {
                width: 100%;
            }
        }
    }

    .lgFont &--size {
        & > div {
            &::before {
                left: calc(50% - 3.5px);
            }
            & > span {
                width: 50%;
            }
        }
    }
}
.invisibleEl {
    position: fixed;
    z-index: -999999999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s, z-index 0s 0.5s; 
}
.invisibleEl.menu-open {
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.75);
    transition: background-color 0.5s, z-index 0s 0s;
}